{% extends 'base.html.twig' %}

{% block title %} Mon Compte - Netflux {% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    Bienvenue {{ app.user.firstname }} dans votre compte. <br/>
    C'est dans cet espace que vous pourrez consulter vos films
    <hr>
    <a href="{{ path('app_account_password') }}">Modifier mot de passe</a><br/>
    <hr>

    {% if likes %}
        <h5 class="mt-5 mb-0"> Ma films favoris </h5>
        <hr>
    {% endif %}


    {% for like in likes %}
        <a href="{{ path('app_film',{'slug' : like.movie.slug}) }}">
            <div class="container movie_item container-custom text-center">

                <img src="/uploads/{{ like.movie.illustration }}" alt="{{ like.movie.name }}" class="img-fluid " style="max-height: 300px; width: auto">
                <div class="middle center">
                    <h5>{{ like.movie.name }}</h5>
                </div>
            </div>
        </a>

    {% endfor %}


{% endblock %}

