
{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="color: white">Formulaire d'inscription</h1>

    <div class="container register-custom" >

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.firstname,{'attr':{'class':'research-field'}}) }}
        {{ form_row(form.lastname,{'attr':{'class':'research-field'}}) }}
        {{ form_row(form.mobilephone,{'attr':{'class':'research-field'}}) }}
        {{ form_row(form.email,{'attr':{'class':'research-field'}}) }}
        {{ form_row(form.password,{'attr':{'class':'research-field'}}) }}

        {{ form_row(form.submit, {'attr': {'class': 'custom-submit'}}) }}
        {{ form_end(form) }}
        <p class="text-center">Vous possédez déjà un Compte ?  <a href="/connexion" class="color-custom"> Identifiez-Vous</a></p>
    </div>
{% endblock %}