<!doctype html>
<html lang="fr" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Service VOD NetFlux ">
    <meta name="author" content="Niels MESURE">

    <title>{% block title %}NetFlux{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

    <link href="{{ asset('assets/css/netflux.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body class=" custom-font" >
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top  custom-font">
        <div class="container-fluid">
            <a class="navbar-brand " href="{{path('app_home')}}">
                <img src="/uploads/netflux.png" alt="Netflux LOGO" width="130px" class="px-2 py-1">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('app_movies')}}">Catalogue</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in getCategories() %}
                            <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>

                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Toutes les catégories</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Mes Films</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <div class="nav_bar_button ">
                        {% if app.user %}
                            <a href="{{ path('app_account') }}">Mon Compte <small>({{app.user.firstname}})</small></a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('app_register') }}">Inscription</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<main role="main">



    {% if block('carousel') is defined %}
        <div id="carouselExampleCaptions" class="carousel slide index_carousel" data-bs-ride="false">
            <div class="carousel-indicators">
                {% for key,movie in illustrationHeaders %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ key }}" {% if key ==0 %}class="active" {% endif%} aria-current="true" aria-label="Slide 1"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for key,movie in illustrationHeaders %}
                <a href="{{ path('app_film',{'slug' : movie.slug}) }}">
                <div style="background-image: url('/uploads/{{ movie.illustrationHeaders }}'); " class="carousel-item carousel-custom {% if key ==0 %}active{% endif%}" >
                    <div class="carousel-caption">
                        <h5 style="text-transform: uppercase">{{ movie.name }}</h5>

                    </div>
                </div>
                </a>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

 {% endif %}



    <div class="container-fluid marketing  {% if block('carousel') is not defined %}mt-5{% endif %}">
        {% block content %}
        {% endblock %}
    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom ">
        <p class="mb-1 mt-1">
            &copy; 2020-2023 Netflux <br/>
            <small> Le service de VOD 2.0
            <a href="#">Privacy</a> &middot; <a href="#">Terms</a></small>
        </p>
    </footer>
</main>

</body>
</html>